.search-box {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #282C34;

}

.search-box-input {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}